<div class="links">
    <a href="#">Privacy Policy</a>
    <a href="#">FAQ</a>
    <img src="/index/1.png" alt="">
    <a href="#">Contact</a>
    <a href="#">About</a>
</div>


<footer>
    <h2>© PickCourses 2021. All rights reserved</h2>
</footer>