<%- include('./partials/header') %>


<main>
    <div class="container">
        <img src="./1.png" alt="">
        <h1>Abderazzak maliki</h1>
        <h3>lycee abdelakrim khattabi</h3>
        <h4>Tiznit</h4>
        <a href="/new"><button id="upload">Upload File</button></a>
        <a href="/update-account"><button id="settings">Update Account</button></a>
        <div class="files">
            <div class="file">Relations Interntionales C1 S1</div>
            <div class="file">Relations Interntionales C1 S1</div>
            <div class="file">Relations Interntionales C1 S1</div>
        </div>
    </div>
</main>




<%- include('./partials/footer') %>

<%- contentFor('title') %>
Profile
<%- contentFor('css') %>
"/profile/style.css"
